<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
</head>

<body>
    <header>
        <div id="title1">
            <h3>Best Books!<h3>
        </div>
        <div id="toggleBar">
            <p class="toggleBtn"></p>
            <p class="toggleBtn"></p>
            <p class="toggleBtn"></p>
        </div>
    </header>
    <main>
        <div class="welcoming"><h1>hello user</h1></div>
        <nav>
            <ul>
                <li class="navigation"><a href='/search'>search a book</a></li>
            </ul>
        </nav>
    </main>

</body>

</html>